<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huburt.app.common" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:name=".App">

        <meta-data
            android:name="com.huburt.app.common.config.BaseConfig"
            android:value="Architecture_ConfigModule" />

        <provider
            android:name=".ctx.CusFileProvider"
            android:authorities="hubert.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
